body {
    margin: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    
   
}
 
a {
    text-decoration: none;
}

.index-picture {
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
   
}

.button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-hotels-search {
    background-color: #766357;
    font-size: 21px;
}

.button-search {
    background-color: #81b3d2;
    font-size: 21px;
}   

.button-more {
    background-color: #81b3d2;
    line-height: 21px;
    text-align: left;
}
.button-book {
    background-color: #766357;
    line-height: 21px;
    text-align: left;
}
.button-hotels-search:hover,
.button-book:hover {
    background-color: #604e43;
  }
  
.button-hotels-search:active,
.button-book:active {
    background-color: #503e33;
    color:rgba(255, 255, 255, 0.3);


  }

.button-search:hover,
.button-more:hover {
    background-color: #669ec0;
}
  
.button-search:active,
.button-more:active  {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3)

}
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  
    background-color: #ffffff;
  }
.list-reset {
  list-style: none;
}

.site-navigation-item {
  color: #000000;
}


.city-description {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
}
.reasons-to-visit-header {
    text-align: center;
    font-weight: 400;
    color: #333333;
}
.hotel-search-header {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.hotel-search-info {
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    color: #333333;
}
.form-input {
    font: inherit;
    background-color: #f2f2f2;
    background-color: #f2f2f2;
}
.form-input:hover {
    background-color: #ebebeb;
}
.form-input:focus {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
}
.main-footer {
    background-color: #f2f2f2;
}

.hashtag {
    text-decoration: none;
    color: #000000; 
    font-size: 21px;
    text-align: center;
}
.footer-social {
    text-align: center;
} 

.social-button {
    background-color: #81b3d2;
    color: #ffffff
}

.social-button:hover {
    background-color: #669ec0;
}
  

.social-button:focus  {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}
.footer-copyright {
    text-align: center;
}

.htmlacademy-logo{
    color: #231f20;
}
.htmlacademy-logo:hover{
    color: #81b3d2;
    
}
.htmlacademy-logo:focus {
    color: #bdbbbc;
  
}
/*
body > * {background: rgba(255, 0, 0, 0.3);
}
body > * > * {background: rgba(255, 255, 0, 0.3);
}
body > * > * > * {background: rgba(0, 0, 255, 0.3);
}
body > * > * > * {background: rgba(0, 255, 255, 0.3);
}
*/

.container {
    width: 1200px;
    margin: 0 auto;
}

/*
.main-header {
    
    margin-left: 40px;
    margin-right: 40px;
    height: 56px;
}
*/
.main-navigation {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 76px;
   
}
.container {
    display: flex;
}




.site-navigation-left {
    order: -1;
    display: flex;
  
    justify-content: space-between;
    width: 478px;
    margin: auto;
    padding: 0;
    
    
}
.site-navigation-right {
    order: 1;
    display: flex;
  
    justify-content: space-between;
    width: 478px;
    margin: auto;
    padding: 0;
    

    
}

.site-navigation {
    padding: 0 72px;
}


.greeting {
    width: 459px; 
    margin: 0 auto;
    padding: 0 370px;
    list-style: none;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
}

.hotel-search {
     
    margin: 0 auto;
    padding: 0 316px;
    list-style: none;
    background-color: #ffffff;
}

.main-footer {
    padding: 50px 0;
    margin-top: 78px; 
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.hashtag {
    margin: 0;
}

.footer-copyright {
    margin: 0;
}

.social-button-wrapper {
    display: flex;
  
    justify-content: space-between;
    width: 200px;
    margin: auto;
    padding: 0;
}

.hotels-list-wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 31px; 
  
    width: 1200px;
    
}

.hotels-list-item-wrapper {
    display: flex;    
    justify-content: space-around;
 
    
 
    
    
}

.hotels-list-picture {
    order: -1;
    width: 207px;
}

.hotels-list-raiting {
    margin-left: 200px;
   
}
.hotels-list-name {
   
    margin-right: 400px;
}
