body {
    margin: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    box-shadow: inset 0px 5px 15px 0 var(--dark-forest-green--20);
    
   
}
 
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index-picture {
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
   
}

.button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-hotels-search {
    background-color: #766357;
    font-size: 21px;
}

.button-search {
    background-color: #81b3d2;
    font-size: 21px;
}   

.button-more {
    background-color: #81b3d2;
    line-height: 21px;
    text-align: left;
}
.button-book {
    background-color: #766357;
    line-height: 21px;
    text-align: left;
}
.button-hotels-search:hover,
.button-book:hover {
    background-color: #604e43;
  }
  
.button-hotels-search:active,
.button-book:active {
    background-color: #503e33;
    color:rgba(255, 255, 255, 0.3);


  }

.button-search:hover,
.button-more:hover {
    background-color: #669ec0;
}
  
.button-search:active,
.button-more:active  {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3);
      

}
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  
    background-color: #ffffff;
  }
.list-reset {
  list-style: none;
}


.site-navigation-item {
  color: #000000;
  /*box-shadow: inset 0 0 0 2px rgb(130, 6, 231);*/
  
  padding-top: 22px;
  padding-bottom: 22px;

  
  
}


.city-description {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
}
.reasons-to-visit-header {
    text-align: center;
    font-weight: 400;
    color: #333333;
}
.hotel-search-header {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.hotel-search-info {
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    color: #333333;
}
.form-input {
    font: inherit;
    background-color: #f2f2f2;
    background-color: #f2f2f2;
}
.form-input:hover {
    background-color: #ebebeb;
}
.form-input:focus {
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
}


.hashtag {
    text-decoration: none;
    color: #000000; 
    font-size: 21px;
    text-align: center;
}
.footer-social {
    text-align: center;
    
} 

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: #81b3d2;
    color: #ffffff
}

.social-button:hover {
    background-color: #669ec0;
}
  

.social-button:focus  {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.social-button:focus path {
  opacity: 0.3;
}

.footer-copyright-wrapper {
    display: flex;
    
    min-width: 197px;
    position: relative;
        
    

}

.website {
    font-weight: 400;
        
}
 
   
    


.htmlacademy-logo{
    
    position: absolute;
    bottom: -7px;
    left: 86px;
    color: #231f20;
    width: 115px;
    height: 41px;
    
    padding: 0;
    margin: 0 auto;
    
}
.htmlacademy-logo:hover path{
    fill: #81b3d2;
    
}
.htmlacademy-logo:focus path {
    fill: #bdbbbc;
  
}
/*
body > * {background: rgba(255, 0, 0, 0.3);
}
body > * > * {background: rgba(255, 255, 0, 0.3);
}
body > * > * > * {background: rgba(0, 0, 255, 0.3);
}
body > * > * > * {background: rgba(0, 255, 255, 0.3);
}
*/

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;

    
}

/*
.main-header {
    
    margin-left: 40px;
    margin-right: 40px;
    height: 56px;
}
*/

.main-header-logo {
    background-color: transparent;
    
    position: absolute;
    left: 530px;

}

.main-navigation {
    display: flex;
    
   
    

}

.main-header {
    
    min-height: 56px;
    margin-bottom: 76px;
    /*box-shadow: inset 0 0 0 2px rgb(5, 252, 149);*/
    background-color: #ffffff;
}


.main-header-wrapper {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    
}

.site-navigation-left {
    order: -1;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 0;
    width: 600px;
    /*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
    
}

.site-navigation-left .site-navigation-item {
    padding-left: 72px;
    padding-right: 74px;
    padding-top: 22px;
    text-align: center;
    

}

.site-navigation-right {
    order: 1;
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-right: 0;
    padding: 0;
    /*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
        
}

.site-navigation-right .site-navigation-item {
    padding-left: 72px;
    padding-right: 74px;
    padding-top: 22px;
    text-align: center;
}



.greeting {
    width: 459px; 
    margin: 0 auto;
    padding: 0 370px;
    list-style: none;
}

.polygon {
    width: 1202px;
    height: 59px;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-left: -0.5px;  
    padding: 0;
   
}

.city-description {
    background-color: #ffffff;
    margin-top: 0;
    padding-top: 61px;
   
   
}

.reasons-to-visit {
    background-color: #ffffff;
    padding-top: 38px;
}


.description-wrapper {
    display: flex;
    flex-direction: column;
}

.hotel-search {
     
    margin: 0 auto;
    padding: 0 316px;
    list-style: none;
    background-color: #ffffff;
}

.main-footer {
    padding: 50px 0;
    margin-top: 0px; 
    background-color: #ffffff;
    
}

.main-footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.hashtag {
    margin: 0;
}





.social-button-wrapper {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0;
}
/*
.hotels-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    
    
    justify-content: space-between;
    margin: 0;
    padding: 0;
    
  
    width: 100%;
    box-shadow: inset 0 0 0 2px rgb(14, 15, 0);
    
}
*/

.hotels-list {
    display: flex;
    flex-direction: column;
    
    
 
    margin: 0 auto;
}

.hotels-list-item-wrapper {
    display: flex;    
    justify-content: flex-start;
   
    margin-top: 30px;
    margin-bottom: 30px;   
    padding: 0;
    
    
    
}


.hotels-list-picture {
    /*order: -1;*/
    
    width: 135px;
    height: 90px;

    margin-right: 30px;
    
    padding: 0;
}

.hotels-list-rating {
    /*margin-right: 73px;*/
    /*display: block;*/
   
    padding: 0;
    margin-right: 73px;
    position: relative;
   
}
.hotels-list-name {
    /*margin-left: 0px;
    margin-right: 400px;*/
   
    padding: 0;
    margin-right: 522px;
}

.rating-back {
    display: block;
    
    
    
    background-color: #f2f2f2;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
    
    
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 13px;
    margin-top: 93px;
    
   
} 

.rating-back::before {
    content: "";
  
    width: 18px;
    height: 17px;
    position: absolute;
    top: 29px;
    left: 93px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    
}
.rating-back::after {
    content: "";
  
    width: 18px;
    height: 17px;
    position: absolute;
    top: 29px;
    left: 70px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    
}


.button-more {
    width: 110px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 6px;
}

.button-book {
    width: 142px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0px;
}


